* { text-align: center; font-family: sans-serif; color: white;}
body  {background-color: #565656;}
h4 {
	margin: 0px;
}
p {
	display: inline;
}
table {
	margin-right: auto;
	margin-left: auto;
}
td {
	padding: 10px;
}
th {
	padding: 6px;
}
.completed {
	font-style: italic;
	font-size: 10px;
	text-transform: uppercase;
}